.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #d7e2f7;
}

.mat-sidenav-container a, mat-toolbar { color: #0d6efd;}

.bg-color {
  background: #d7e2f7;
   color: #0d6efd;
}

.circle {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: white;
}

.pd-15{
  padding-top: 15px;
}

.pl-35{
  padding-left: 35px;
}